<!DOCTYPE html>
<html>
  <head>
    <title> Leave management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </head>
  <body>
    <div class="container header">
  		
  		<img src="/images/logo3.png" style="margin-left: 13%;"><span style="border-left: 1px solid #AA9B9B;padding: 20px;"></span>
  		<h1 class="h1style">Leave Management System</h1>
  		
	</div>
		<div class="highlight logindiv" >
			<h3 class="loginh3"> Login </h3>
			<a class="google_signin_btn" href="/auth/google" >LOGIN WITH GOOGLE</a>
			<hr style="margin-top: 90px;border-top: 2px solid #fff;">
			
			
    	</div>
	<div>
	
	</div>
	</div>
  </body>
</html>